<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Snippet: Login Form</title>
  
  
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body>

    <div class="wrapper">
    <form class="form-signin" role="form" method='POST' action='/'>
      <h2 class="form-signin-heading">Twitter Data Miner</h2>
      <input type="text" class="form-control" name="username" placeholder="twitter account" required="" autofocus="" />
      <button type="submit" class="btn btn-lg btn-primary btn-block">Build map</button>
        <h>@by Oleksandr Potapov</h>
    </form>
  </div>
  
  

</body>

</html>
